.user-registration-link {
  @include centered;
  justify-content: center;
  background-color: white;
  width: 400px;
  height: 120px;
  margin-bottom: 2px;

    &__box {
      @include box-sizing(300px);
      background-color: blue;
      border-radius: 5px;
      text-align: center;
      margin: 10px 0px;
    }

      &__link-text {
        color: white;
        text-decoration: none;
      }
}

.login-input-items-field {
  @include user-info-input(400px);
    &__item {
      margin-bottom: 10px;
    }
}

