* {
  box-sizing: border-box;
}

.header{
  padding: 15px 60px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  margin-bottom: 3px;

  &__box{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;

    &__main{
      display: flex;
      align-items: center;
      padding: 0 60px;
      .main__icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        margin-top: 5px;
      }
      .main__search{
        margin-left: auto;
        width: 100%;

        .search-form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;

          .search-input{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
        .search-btn{
          height: 36px;
          width: 36px;
          margin-bottom: 5px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
          color: white;

          i.fas.fa-search.fa-2x{
            width: 100%;
            color: white;
          }
        }
      }
    }
    &__action{
      font-size: 14px;
      display: flex;
      padding: 0 60px;
      .action__list{
        display: flex;
        line-height: 30px;

        .list__category {
          padding: 0;
          cursor: pointer;

          a:hover {
            color: #3CCACE;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
        .list__brand{
          line-height: 30px;
          padding: 0 0 0 40px;

          a:hover{
            color: #3CCACE;
          }
          a {
            text-decoration: none;
            padding: 0;
            color: black;
          }
          .brand-tree{
            z-index: 1;
            position: absolute;
            background-color: #fff;
            width: 240px;
            top: 40px;
            .first__tree{
              background-color: #fff;
              display: flex;
              flex-direction: column;
              position: relative;
              li{
                position: relative;
              }
            }
          }
        }
      }
      .action__user{
        margin-left: auto;
        display: flex;

        .mypage {
          line-height: 30px;
        }

        .user__login{
          line-height: 30px;
          padding-left: 30px;

          .login_btn {
            text-decoration: none;
            color: black;
            padding: 10px 36px;
            border-radius: 10px;
          }
          a:hover{
            color: orange;
          }
        }
        .user__new{
          line-height: 30px;
          padding-left: 30px;

          .new_btn {
            text-decoration: none;
            color: black;
            padding: 10px 20px;
            border-radius: 10px;
           
          }
          a:hover{
            color: orange;
          }
        }
        .mypage{
          color: #333;
          line-height: 30px;
          padding: 0 0 0 16px;
          
          a{
            text-decoration: none;
            color: black;
            margin-right: 16pt;
          }
          a:hover{
            color: orange;
          }
        }
      }
    }
  }
}

.breadcrumbs {
  border-top: 1px solid #eee;
  padding: 0px 60px;
  font-size: 14px;
  width: 100%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);
  &__test {
    padding: 17px 0px 16px;
    display: flex;
    .link {
      padding-right: 10px;
      &__text {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

.main-contents {
  background-color: #f8f8f8;
  .main__show {
    padding: 40px;
    .contents {
      width: 700px;
      padding: 24px 40px 40px 40px;
      margin: 0px auto;
      background-color: #fff;
      &__text {
        .image-name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
      }
      &__image {
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .beef-image {
          height: 346px;
          width: 560px;
          object-fit: cover;
        }
        .contents__image__small {
          margin-top: 10px;
          .beef-image-small {
            height: 87px;
            width: 140px;
          }
        }
        .contents__price {
          .price {
            font-size: 46px;
            font-weight: bold;
          }
        }
        .contents__tax {
          .tax {
            font-size: 16px;
          }
        }
      }
      &__detail {
        .detail-text {
          font-size: 18px;
          margin: 24px 0px 30px 0px;
        }
      }
      &__table {
        margin-bottom: 20px;
        width: 100%;
        .main-table {
          width: 100%;
          height: 375px;
          border: 1px solid #f8f8f8;
          border-collapse: collapse;
          .table {
            .left-table {
              width: 20%;
              background-color: #eee;
              padding: 8px;
              font-size: 14px;
              text-align: center;
            }
            .right-table {
              width: 61%;
              padding: 15px 15px;
              font-size: 14px;
              border: 1px solid #dedede;
              .table-category {
                text-decoration: none;
                color: #3CCACE;
              }
            }
          }
        }
      }
      &__option {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .options {
          margin-top: 10px;
          .favorite {
            color: #3CCACE;
            border: 1px solid #ffb340;
            padding: 6px 10px;
            border-radius: 40px;
          }
          .report {
            color: #333;
            border: 1px solid #333;
            padding: 6px 10px;
            border-radius: 4px;

          }
        }
      }
      &__relations {
        &--product { 
          .products {
            margin: 24px 0px 8px;
            .relation {
              text-decoration: none;
              color: #3CCACE;
              font-size: 22px;
              font-weight: bold;
            }
            .relation-picture {
              width: 230px;
              .curryrice {
                height: 150px;
                width: 220px;
              }
              .image__text {
                .product-name {
                  font-weight: bold;
                }
                .image-price {
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  .price-test {
                    margin-right: 120px;
                    font-size: 16px;
                  }
                }
                .tax-include {
                  font-weight: bold;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      &__delete {
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        background-color: #ffb340;
       
        &--btn {
          color: white;
          text-decoration: none;
        }
      }
      &__edit{
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        background-color: #3CCACE;
        margin-top: 10px;
        &--btn{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.sellbtn {
  position: fixed;
  width: 120px;
  background: #3CCACE;
  text-align: center;
  padding: 15px;
  bottom: 32px;
  right: 32px;
  border-radius: 4%;
  .btn-text {
    color: #fff;
    font-size: 18px;
  }
  .camera-btn {
    width: 60%;
    margin-top: 5px;
  }
}
