* {
  box-sizing: border-box;
}

.contents {
  background-color: #f8f8f8;
  &__logo {
    text-align: center;
    &__FURIMA {
      .top-logo {
        height: 49px;
        width: 185px;
      }
    }
  }
  &__detail {
    background-color: white;
    margin: 0px 200px;
    &__title {
      padding: 32px 16px;
      &__confirm {
        font-size: 24px;
        text-align: center;
        padding: 32px 16px;
      }
    }
    &__pic {
      padding: 32px 16px;
      &__confirm {
        padding-left: 50px;
        .beef-pic {
          height: 25%;
          width: 25%;
        }  
      }
    }
    &__price {
      padding: 32px 16px;
      margin: 0px 100px;
      &__confirm {
        font-size: 20px;
      }
    }
    &__method {
      padding: 32px 16px;
      margin: 0px 100px;
      &__confirm {
        font-size: 18px;
      }
    }
    &__address {
      padding: 32px 16px;
      margin: 0px 100px;
      &__confirm {
        font-size: 18px;
      }
    }
    &__caution {
      padding: 32px 16px;
      margin: 0px 100px;
      &__confirm {
        font-size: 14px;
        color: #888888;
      }
    }
    &__buy {
      background-color: #ea352d;
      margin: 30px 100px;
      display: flex;
      justify-content: center;
     .contents__detail__buy__confirm {
       font-size: 20px;
      }
    }
  }
  &__footer {
    background-color: #f8f8f8;
    &__code {
      .lists {
        font-size: 12px;
        padding: 50px 70px ;
      }
    }
    &__logo {
      &__rights {
        display: flex;
        justify-content: center;
        .footer-logo {
          height: 25%;
          width: 25%;
        }
      }
      &__text {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
