.user-registration-link
  .user-registration-link__text
    アカウントをお持ちでない方はこちら
  .user-registration-link__box
    = link_to '新規会員登録', new_user_registration_path, class: 'user-registration-link__link-text'
