.card__add {
  .card__header {
    padding: 15px 60px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    margin-bottom: 3px;
    .title {
      font-size: 20px;
      text-align: center;
    }
  }
  .details{
    margin-top: 50px;
    .number-details {
      margin: 30px auto;
      max-width: 343px;
      display: flex;

      .card-number {
        font-size: 16px;
      }
      .must_check {
          background-color: #3CCACE;
          color: #fff;
          font-size: 12px;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          vertical-align:top;
      }
    }
    .number {
      display: flex;
      justify-content: center;
      .cardnumber {
        height: 50px;
        width: 300px;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      margin: 30px 0px;
      .visa {
        height: 40px;
        width: 80px;
      }
      .master {
        height: 40px;
        width: 80px;
      }
      .jcb {
        height: 40px;
        width: 80px;
      }
      .amex {
        height: 40px;
        width: 80px;
      }
      .diners {
        height: 40px;
        width: 80px;
      }
      .discover {
        height: 40px;
        width: 80px;
      }
    }
    .expirationdate {
      &__details {
        margin: 30px auto;
        max-width: 343px;
        display: flex;
        .date {
          font-size: 16px;
        }
        .must_check {
          background-color: #3CCACE;
          color: #fff;
          font-size: 12px;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          vertical-align:top;
        }
      }
      &__choice {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        .month {
          display: flex;
          width: 120px;
          .card-default {
            width: 120px;
          }
        }
        .year {
          margin-left: 30px;
          display: flex;
          .card-default {
            width: 120px;
          }
        }
      }
    }
    .securitycode {
      &__details {
        margin: 30px auto;
        max-width: 343px;
        display: flex;
        &__title {
          font-size: 16px;
        }
        .must_check {
          background-color: #3CCACE;
          color: #fff;
          font-size: 12px;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          vertical-align:top;
        }
      }
      &__cardsecurity {
        height: 50px;
        display: flex;
        justify-content: center;
        .securitycode__cardsecurity__form {
          width: 300px;
          height: 50px;
        }
      }
      .card-question {
        margin: 30px auto;
      }
    }
    .add {
      margin-bottom: 30px;
      .add__btn {
        display: inherit;
        width: 200px;
        height: 50px;
        background-color: orange;
        color: #FFFFFF;
        font-size: 15px;
        cursor: pointer;
        margin: 0 auto;
      }
    }
  }
}
