.entire_box
  .new__page__header
    = link_to image_tag("logo/logo.png", alt: "logo"), root_path

  .product-delete-field
    .product-delete-field__text
      商品の削除が完了しました。
    .product-delete-field__link
      = link_to 'トップページに戻る', root_path 

